$color-text-main: #0D1A3C;
$color-text-sub: #233565;
$color-text-hint: #637281;
$color-text-off: #919299;
$color-text-disabled: #ccc;
$color-border-dark: #ccc;
$color-border: #ddd;
$color-border-light: #e7e7e7;
$color-bg-main: #f8f7f3;
$color-bg-white: #fff;
$color-accent: #32AA9C;
$color-link: #32AA9C;
